@property --rotate {
  syntax: "<angle>";
  initial-value: 44deg;
  inherits: false;
}

.main-container {
  text-align: center;
  padding: 3.5% 5.5%;
  width: 100%;
  height: 87.5vh;
  overflow: hidden;
  background-color: #616161;
  box-sizing: border-box;
}

h2{
  color:#040115

}
.G-title {
  font-weight: 700;
  color: #074994;
}

.challenge-title{
  border-radius: 5%;
  padding: 1%;
  background-color: #FFCB0B;

}

.progress {
  display: inline-block;
  width: 95%;
  height: 50px;
  border-radius: 20px;
  background: #222020;
  box-shadow: 0px 2px 20px #320252;
  margin: 1% auto;
}
.bar {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: width;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.36, 0.55, 0.63, 0.48);
}
.shadow {
  box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25);
}
.floor {
  background-color: #3dcdf8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 80 80'%3E%3Cg fill='%2392278f' fill-opacity='0.71'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 75, 75, 0.747);
  animation: example 60s linear infinite;
  box-sizing: border-box;
  border-radius: 5%;
  padding: 1.5%;  
}
.wrapper {
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  width: max-content;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  opacity: 0.75;
}
.input {
  font-size: 1.5rem;
  padding: 10px;
  background-color: #191c29;
  margin: auto 0;
  color: #e3e3e3;
  width: 100%;
  border: none;
  outline: none;
  /* Place the input below the card via stacking context */
  position: relative;
  /* z-index: -1; */
  transition: opacity 0.3s;
}

.input:placeholder-shown + .placeholder {
  opacity: 0;
}

.ready-btn {
  margin-top: 14%;
  margin-right: 10%;
  font-weight: 600;
  color: #c0c0c0;
  border-radius: 14%; 
  box-shadow: 0px 2px 40px #3dcdf8;
  background-color: #082C55;
  font-size: 3/75rem;
}

.card2 {
  align-items: center;
  border-radius: 5%;
  background: #191c29;
  height: 25vh;
  font-size: 1.75rem;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.word {
  display: flex; /* Keeps letters of a word together */
}

.letter {
  font-size: 1.75rem; /* Adjust for desired size */
  color: black; /* Default letter color */
  font-weight: 500;
}

.space {
  width: 10px; /* Space width */
  display: inline-block; /* Ensures proper spacing behavior */
}


.totalWords::first-letter {
  font-size: 3.3rem;
  color: teal;
}
.card {
  align-items: center;
  margin: 10px 0px;
  border-radius: 5%;
  background: #191c29;
  height: 25vh;
  width: 100%;
  overflow: hidden;
  font-size: 1.75rem;
  color: #e3e3e3;
  padding-left: 40px;
  display: flex;
}
.high-score {
  background: #191c29;
  display: flex;
  flex-direction: column;
  color: #e3e3e3;
  padding: 2%;
  border-radius: 5%;
}
.new-score{
  display: flex;
  flex-direction: column;
  color: #FFCB0B;
  border-radius: 5%;
}
.score-list {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style: none;
}
.save-card {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.saveInput {
  padding: 3%;
  font-size: 2rem;
  width: 85%;
  border-radius: 5%;
  color: #191c29;
}
.saveInput::placeholder {
  color: #191c29;
  font-size: 2rem;
}
.saveBtn {
  background: rgb(7, 204, 178);
  font-size: 2rem;
  margin: 5%;
  padding: 2%;
  border-radius: 5%;
  font-weight: 600;
}
.errorCount {
  background-color: beige;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 7.5px;
  border-radius: 10px;
  color: rgb(187, 33, 6);
}
.rate {
  background-color: beige;
  font-size: 1.5rem;
  margin-left: 5%;
  padding: 7.5px;
  border-radius: 10px;
  font-weight: 700;
  color: teal
}
.correctCount {
  background-color: beige;
  font-size: 1.5rem;
  margin-left: 5%;
  padding: 7.5px;
  border-radius: 10px;
  font-weight: 700;
  color: seagreen;
}
.rate-error {
  display: flex;
}
@keyframes spin {
  0% {
    --rotate: 22deg;
  }
  50% {
    --rotate: 300deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes example {
  0% {
    background-image: linear-gradient(45deg, #001F3F, #000080);
  }
  25% {
    background-image: linear-gradient(45deg, #000080, #001F3F);
  }
  50% {
    background-image: linear-gradient(45deg, #001F3F, #000033);
  }
  75% {
    background-image: linear-gradient(45deg, #000033, #001F3F);
  }
  100% {
    background-image: linear-gradient(45deg, #001F3F, #000080);
  }
}

@media only screen and (min-width: 730px) {
  .ready-btn {
    margin: 8%;
  }
}
@media only screen and (min-width: 1050px) {
  .ready-btn {
    margin: 5%;
  }
}
