

  .save-card {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
  }
  
  .saveInput {
    padding: 3%;
    font-size: 2rem;
    width: 85%;
    border-radius: 5%;
    color: #191c29;
  }
  .saveInput::placeholder {
    color: #191c29;
    font-size: 2rem;
  }
  .saveBtn {
    background: rgb(7, 204, 178);
    font-size: 2rem;
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    font-weight: 600;
  }