.navbar {
  background: linear-gradient(90deg, #003E78, #082C55);
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.navbar-title {
  color: #e3e3e3;
  font-size: 2rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.navbar-subtitle {
  color: #e3e3e3;
  font-size: 1rem;
  margin: 0.5rem 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}